/*colorused:
#478A94
#427D51
#839447
#8A7442*/
* {
	content-a-sizing: border-content-a;
}

html {
  line-height: 1.5;
}

h1,h2{
	font-family: 'Roboto Slab',serif;
}
p,a{
	font-size: 1.25rem;
	font-family: 'Roboto',sans-serif;
}

a{
	color: white;
}

h1{
	padding: 3rem 50rem;
	text-align: center;
	color: white;

}

nav svg{margin: 9px;}

nav {
	display: flex;
	background-color: #0063b2;
	width: 100%;
}

ul{
	display: inline-flex;
	list-style: none;
	 padding: 0;
}

li{
	padding-left: 30rem;
}

li a{
	display: inline-block;	
	text-decoration:none;
}

.masthead{
	display: flex;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: repeat;
	height: 250px;
}
.container{
    text-align: center;
    max-width: 70rem;
    margin: auto;
    padding: 1.5rem 0.8rem;
}

.container content-a{
    text-align: left;
}

.content-a{
    display: block;
    padding: 2rem 0;
    border-bottom: solid 1px #ccc;
}

.article{
    width: 40%;   
    padding-top: 0rem;
}

.card{
   display: grid;
   grid-template-areas: 'a b .'
'. . .'
'. . .'

}

.i1{
    grid-area: 'a'
}

.i2{
    grid-area: 'b'
}

.article img{
    max-width: 100%;
    height: auto;
}

.card img{
    max-width: 100%;
    height: auto;
}

.article{
    float: left;
}

.logo {
    color: white;
}

footer{
    background-color: #0063b2;
    height: 120px;
    padding: 1rem;
}

footer p{color: white;}
/*tablet view*/
@media only screen and (max-width: 80rem) and (min-width: 35rem) {
    html {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    nav {
        display: flex;
        align-items: center;
    }
    h1{
        text-align: center;
        margin:auto;
        padding: 0;
    }
    ul{display: inline-flex;}
    li {
        width: auto;
        height: auto;
    	padding-left: 15rem;
    }

    article {
        width: 40%;
        float: left;
      margin: 0;
        padding-right: 2rem; 
    }
    p{
        font-size: 1rem;
        flex:auto;
    }
    .content-a p{    
        padding-left: 2rem;
    padding-right: 2rem;
    }
    .card{
        grid-template-areas: 'a b'
        '. .'
        '. .'
    }
    footer a{padding: 3rem;}
}



/*mobile view*/
@media only screen and (max-width: 35rem){
	html {
        font-size: 0.75rem; 
        line-height: 1.4rem;
    }
    ul{
    	display: block;

    }
    li{
        padding-right: 
    	text-align: center;
    }
      h1{
    	margin: auto;
    	text-align: center;
    	padding: 0;
    }
    article{
        float: none;
        width: 100%;
    }
    footer a{
        padding:2rem;
    }
    .card{
        grid-template-areas: 'a'
        'b'
        '.'
        '.'
        '.'
        '.'
    }
    .content-a{text-align: left;
    }
    p{
       font-size:  0.75rem;
       padding: 1rem;
    }
    .content-a figcaption{
        text-align: center;
        padding-right: 7rem;
    }
    
}