<h2>Portfolio</h2>
<div class="card">
<figure class="i1">
   <img src="img/p1.jpg" alt="portfolio1" /> 
   <figcaption>2100 World 1</figcaption>
</figure>
<figure class="i2">
   <img src="img/p2.jpg" alt="portfolio2" /> 
   <figcaption>2100 World 2</figcaption>
</figure>
<figure class="i3">
   <img src="img/p3.jpg" alt="portfolio3" /> 
   <figcaption>2100 World 3</figcaption>
</figure>
<figure class="i4">
   <img src="img/p4.jpg" alt="portfolio4" /> 
   <figcaption>2100 World 4</figcaption>
</figure>
<figure class="i5">
   <img src="img/p5.jpg" alt="portfolio5" /> 
   <figcaption>2100 World 5</figcaption>
</figure>
<figure class="i6">
   <img src="img/p6.jpg" alt="portfolio6" /> 
   <figcaption>2100 World 6</figcaption>
</figure>
</div>
